<!DOCTYPE html>

<html lang="ja" ng-app="demo">
<head>
  <meta charset="UTF-8">

  <meta name="author" content="janus_wel">

  <link rel="stylesheet" href="styles/main.css" media="all">

  <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.8/angular.min.js"></script>
  <script src="../input-supporters.js"></script>
  <script src="scripts/main.js"></script>

  <title>remain directive demo</title>
</head>

<body ng-controller="demo-controller as demo">
  <form>
    <table>
      <tr>
        <td><label>name</label></td>
        <td>
          <input type="text" ng-model="name" ng-maxlength="8" remaining-letters="nameRemainingLetters">
          <span class="remaining-letters">{{nameRemainingLetters}}/8</span>
      </tr>
      <tr>
        <td><label>password</label></td>
        <td>
          <input type="password" ng-model="password" ng-maxlength="16" remaining-letters="passwordRemainingLetters" password-strength="passwordStrength">
          <span class="remaining-letters">{{passwordRemainingLetters}}/16</span>
          <span class="password-strength">
            <span ng-show="passwordStrength < 0.2" class="very-weak">very weak</span>
            <span ng-show="0.2 <= passwordStrength && passwordStrength < 0.4" class="weak">weak</span>
            <span ng-show="0.4 <= passwordStrength && passwordStrength < 0.6" class="efficient">efficient</span>
            <span ng-show="0.6 <= passwordStrength && passwordStrength < 0.8" class="strong">strong</span>
            <span ng-show="0.8 <= passwordStrength" class="very-strong">very strong</span>
          </span>
        </td>
      </tr>
      <tr>
        <td><label>remarks</label></td>
        <td>
          <textarea ng-model="remarks" ng-maxlength="32" remaining-letters="remarksRemainingLetters"></textarea>
          <span class="remaining-letters">{{remarksRemainingLetters}}/32</span>
        </td>
      </tr>
    </ul>
  </form>
</body>
</html>
